<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alyce: An A.I fine tuned Screenplay Writer</title>
</head>
<body>
<table>
    <tr>
        <td>Active Clients</td><td> : </td><td><span id="clist"></span></td>
    </tr>
    <tr>
        <td>Active P1 Instances</td><td> : </td><td><span id="plist1"></span></td>
    </tr>
    <tr>
        <td>Active P2 Instances</td><td> : </td><td><span id="plist2"></span></td>
    </tr>
    <tr>
        <td>Active P3 Instances</td><td> : </td><td><span id="plist3"></span></td>
    </tr>
</table>

<!-- this link is magically provided by socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script>
    window.onload = function(){
        var story_input = document.getElementById("input_story");
        var story_input_button = document.getElementById("submit_input_story");
        var story_input_button2 = document.getElementById("submit_input_story2");
        var result = document.getElementById("re");

        const socket = io();
        socket.on("connect", () => {
            ;
        });

        socket.on("sub-servers-and-clients-status",function(data){
            var c1 = document.getElementById("clist");
            var p1 = document.getElementById("plist1");
            var p2 = document.getElementById("plist2");
            var p3 = document.getElementById("plist3");
            c1.innerHTML = data.clients;
            p1.innerHTML = data.P1_instances;
            p2.innerHTML = data.P2_instances;
            p3.innerHTML = data.P3_instances;
            if(data.P1_instances<1)
                p1.style.color = "red";
            else
                p1.style.color = "green";
            if(data.P2_instances<1)
                p2.style.color = "red";
            else
                p2.style.color = "green";
            if(data.P3_instances<1)
                p3.style.color = "red";
            else
                p3.style.color = "green";
        });
    }
</script>
</body>
</html>